In [1]:
import pandas as pd
import os as csv
import numpy as np

In [2]:
file_path = "data/data.csv"

csv_file = pd.read_csv(file_path)

FIFA_players = pd.DataFrame(csv_file)

FIFA_players.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

In [4]:
# Print list of all column names
FIFA_players.columns.values.tolist()

['sofifa_id',
 'player_url',
 'short_name',
 'long_name',
 'age',
 'dob',
 'height_cm',
 'weight_kg',
 'nationality',
 'club',
 'overall',
 'potential',
 'value_eur',
 'wage_eur',
 'player_positions',
 'preferred_foot',
 'international_reputation',
 'weak_foot',
 'skill_moves',
 'work_rate',
 'body_type',
 'real_face',
 'release_clause_eur',
 'player_tags',
 'team_position',
 'team_jersey_number',
 'loaned_from',
 'joined',
 'contract_valid_until',
 'nation_position',
 'nation_jersey_number',
 'pace',
 'shooting',
 'passing',
 'dribbling',
 'defending',
 'physic',
 'gk_diving',
 'gk_handling',
 'gk_kicking',
 'gk_reflexes',
 'gk_speed',
 'gk_positioning',
 'player_traits',
 'attacking_crossing',
 'attacking_finishing',
 'attacking_heading_accuracy',
 'attacking_short_passing',
 'attacking_volleys',
 'skill_dribbling',
 'skill_curve',
 'skill_fk_accuracy',
 'skill_long_passing',
 'skill_ball_control',
 'movement_acceleration',
 'movement_sprint_speed',
 'movement_agility',
 'movement_reactions',
 'movement_balance',
 'power_shot_power',
 'power_jumping',
 'power_stamina',
 'power_strength',
 'power_long_shots',
 'mentality_aggression',
 'mentality_interceptions',
 'mentality_positioning',
 'mentality_vision',
 'mentality_penalties',
 'mentality_composure',
 'defending_marking',
 'defending_standing_tackle',
 'defending_sliding_tackle',
 'goalkeeping_diving',
 'goalkeeping_handling',
 'goalkeeping_kicking',
 'goalkeeping_positioning',
 'goalkeeping_reflexes',
 'ls',
 'st',
 'rs',
 'lw',
 'lf',
 'cf',
 'rf',
 'rw',
 'lam',
 'cam',
 'ram',
 'lm',
 'lcm',
 'cm',
 'rcm',
 'rm',
 'lwb',
 'ldm',
 'cdm',
 'rdm',
 'rwb',
 'lb',
 'lcb',
 'cb',
 'rcb',
 'rb']

In [5]:
# Select relevant columns
general_info = FIFA_players.loc[0:499, ["sofifa_id", "short_name", "age", "nationality", 
                                        "overall", "club", "value_eur", "wage_eur", 
                                        "preferred_foot", "team_position", 
                                        "height_cm", "weight_kg"]]

general_info.head()

,sofifa_id,short_name,age,nationality,overall,club,value_eur,wage_eur,preferred_foot,team_position,height_cm,weight_kg
0,158023,L. Messi,32,Argentina,94,FC Barcelona,95500000,565000,Left,RW,170,72
1,20801,Cristiano Ronaldo,34,Portugal,93,Juventus,58500000,405000,Right,LW,187,83
2,190871,Neymar Jr,27,Brazil,92,Paris Saint-Germain,105500000,290000,Right,CAM,175,68
3,200389,J. Oblak,26,Slovenia,91,Atlético Madrid,77500000,125000,Right,GK,188,87
4,183277,E. Hazard,28,Belgium,91,Real Madrid,90000000,470000,Right,LW,175,74

In [6]:
# Convert height to inches and weight to lbs, add new column
general_info["height_in"] = round(general_info["height_cm"] * 0.393701, 1)
general_info["weight_lbs"] = round(general_info["weight_kg"] * 2.20462, 1)

# Add a column for calculated BMI
general_info["bmi"] = round(general_info["weight_kg"] / (general_info["height_cm"] / 100) ** 2, 2)

general_info.head()

,sofifa_id,short_name,age,nationality,overall,club,value_eur,wage_eur,preferred_foot,team_position,height_cm,weight_kg,height_in,weight_lbs,bmi
0,158023,L. Messi,32,Argentina,94,FC Barcelona,95500000,565000,Left,RW,170,72,66.9,158.7,24.91
1,20801,Cristiano Ronaldo,34,Portugal,93,Juventus,58500000,405000,Right,LW,187,83,73.6,183.0,23.74
2,190871,Neymar Jr,27,Brazil,92,Paris Saint-Germain,105500000,290000,Right,CAM,175,68,68.9,149.9,22.20
3,200389,J. Oblak,26,Slovenia,91,Atlético Madrid,77500000,125000,Right,GK,188,87,74.0,191.8,24.62
4,183277,E. Hazard,28,Belgium,91,Real Madrid,90000000,470000,Right,LW,175,74,68.9,163.1,24.16

In [7]:
general_info.columns

Index(['sofifa_id', 'short_name', 'age', 'nationality', 'overall', 'club',
       'value_eur', 'wage_eur', 'preferred_foot', 'team_position', 'height_cm',
       'weight_kg', 'height_in', 'weight_lbs', 'bmi'],
      dtype='object')

In [9]:
top_players = general_info.to_csv("data/top_players.csv", index=False)